<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
      <ion-list-header>
        Localize-me
      </ion-list-header>
      <a ion-item (click)="openModal(0)">
        Geolocalização
      </a>
      <a ion-item (click)="openModal(1)">
        CEP
      </a>
    </ion-list>
</ion-content>
